body {
    background-color: rgb(61, 61, 61);
}

.midasi {
    font-style: oblique;
    font-size: 50px;
    color: blanchedalmond;
}

.slider_fade {
    position: relative;
}

.slider_fade > li {
    position: absolute;
    list-style: none;
    visibility: hidden;
    animation: anime_slider_fade 24s 0s infinite;
}
.slider_fade > li:nth-of-type(2) {
    animation-delay:4s;
}
.slider_fade > li:nth-of-type(3) {
    animation-delay: 8s;
}
.slider_fade > li:nth-of-type(4) {
    animation-delay: 12s;
}
.slider_fade > li:nth-of-type(5) {
    animation-delay: 16s;
}
.slider_fade > li:nth-of-type(6) {
    animation-delay: 20s;
}
.slider_fade > li:nth-of-type(7) {
    animation-delay: 24s;
}
.slider_fade > li:nth-of-type(8) {
    animation-delay: 28s;
}
.slider_fade > li:nth-of-type(9) {
    animation-delay: 32s;
}
@keyframes anime_slider_fade {
    0% {
        visibility: visible;
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    33.3% {
        opacity: 1;
    }
    48.3% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

img {
    width: 100%;
    height: auto;
}